html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 100%;
  background-color: #01292e;
  background-image: linear-gradient(to bottom, #124044 0%, #001720 100%);
  color: rgb(152, 255, 212);
}

main {
  min-height: 100vh;
  display: flex;
  align-items: stretch;
}

.Viewport {
  position: relative;
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
}

.CanvasInteractions {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 10px 20px;
}

.Toolbar {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 20px;
}

select {
  min-width: 8em;
  min-height: 22px;
  text-overflow: ellipsis;
}

.CanvasBackgroundColor {
  /* display: flex; */
  display: none;
  align-items: center;
}

.ColorSwatch {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.RangeSwatch {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid rgba(128, 128, 128, 0.7);
  border-radius: 6px;
  margin: 0 5px;
  overflow: hidden;
}

.RangeSwatch[data-color="black"] {
  background: black;
}

.RangeSwatch[data-color="white"] {
  background: white;
}

.RangeLabels {
  display: flex;
  align-items: center;
}

.rc-slider {
  width: 100%;
}

.ColorSwatch + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(128, 128, 128, 0.7);
  margin-right: 10px;
  overflow: hidden;
}

.ColorSwatch + label .HiddenLabel {
  visibility: hidden;
}

.ColorSwatch[value="black"] + label {
  background: black;
}

.ColorSwatch[value="magenta"] + label {
  background: magenta;
}

.ColorSwatch[value="white"] + label {
  background: white;
}

.ColorSwatch:checked + label {
  border: 2px solid rgb(0, 140, 255);
}

.CanvasInteractions:focus {
  outline: none;
}

.CanvasViewport {
  position: relative;
  display: grid;
  place-content: center;
  min-width: 640px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 10px;
}

.CanvasInteractions:focus .CanvasViewport,
.CanvasInteractions:focus-within .CanvasViewport {
  outline: 2px solid rgba(114, 250, 209, 0.5);
}

.CanvasBackdrop {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.CanvasTools {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
}

.Export {
  display: flex;
}

.Export input[type="text"] {
  font-size: 11px;
}

.Export button {
  display: inline-block;
  border: 1px solid rgb(49, 87, 226);
  border-radius: 3px;
  padding: 2px 10px;
  background: rgb(20, 105, 241);
  color: white;
  font-size: 13px;
  text-decoration: none;
  margin-left: 3px;
}

.Export select {
  width: 6em;
  min-width: 6em;
  flex: 0 0 auto;
  margin-left: 3px;
}

.SliderContainer {
  min-width: 200px;
  min-height: 30px;
  padding: 2px 10px;
}

.Buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.Buttons select {
  flex: 1 0 auto;
}

.Buttons button {
  display: grid;
  place-content: center;
  flex: 0 0 auto;
  border: 1px solid rgb(23, 159, 138);
  border-radius: 2px;
  width: 28px;
  height: 24px;
  background: rgb(74, 193, 171);
  color: rgb(5, 69, 76);
  font-size: 16px;
  text-decoration: none;
}

.Buttons button:hover:not(:disabled),
.Buttons button[data-active] {
  background: rgb(99, 255, 226);
}

.Buttons button:active:not(:disabled) {
  transform: translate3d(0, 1px, 0);
}

.Buttons button:disabled {
  opacity: 0.5;
}

.Buttons button[data-locked],
.Buttons button[data-locked]:hover,
.Buttons button[data-locked]:active {
  border-color: rgb(253, 91, 91);
  background: rgb(200, 79, 64);
  color: white;
}

.CanvasToggle {
  display: flex;
  align-items: center;
}

.CanvasToggle button {
  display: grid;
  place-content: center;
  border: 1px solid rgb(23, 159, 138);
  border-left-width: 0;
  border-radius: 0;
  padding: 1px 10px 2px 10px;
  background: rgb(89, 156, 161);
  color: rgb(26, 68, 73);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  margin: 0;
}

.CanvasToggle button:first-child {
  border-left-width: 1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.CanvasToggle button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.CanvasToggle button[data-selected] {
  background: rgb(99, 255, 226);
  border-color: rgb(23, 159, 138);
}

.ModelTools {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0 10px 10px;
  z-index: 2;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

/* .ModelTools:has(input[type="checkbox"]:checked) {
  background-color: #01292e;
  background-image: linear-gradient(to bottom, #124044 0%, #001720 100vh);
} */

.Field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.Field > label,
.Field > div > label,
.FieldLabel {
  text-transform: uppercase;
  font-size: 11px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}

.Field .LabelWithControls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.BrushToolsPopup {
  background: rgba(5, 22, 21, 0.9);
  border-radius: 4px;
  border: 1px solid rgb(0, 255, 200);
  padding: 10px 12px;
  user-select: none;
}

.PopupArrow {
  display: none;
}

.Fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Field label strong {
  margin-left: 4px;
  color: #d0ffee;
}

.CanvasContainer {
  position: relative;
}

.CanvasContainer[data-active="false"] {
  display: none;
}

.CanvasSelector {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 32px;
  transform: translate3d(0, -50%, 0);
  z-index: 2;
}

h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 11px;
}

.Field.ApplyTo {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 10px;
}

.Field.ApplyTo input[type="radio"] {
  margin: 2px 3px;
}

.Field.ApplyTo ul {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Field.ApplyTo li {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
  padding: 0;
}

.SliderField {
  font-size: 13px;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 19px;
  margin-right: auto;
}

.SliderField input[type="range"] {
  width: 120px;
}

.AppFooter {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  margin: auto 0 10px 0;
}

.AppFooter a {
  color: inherit;
  text-decoration: underline;
}

.AppFooter .Separator {
  opacity: 0.7;
}

.Sponsor {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.IconLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0 12px 0 0;
}

.FrameSelector {
  display: flex;
  align-items: center;
  margin-right: auto;
  border-radius: 5px;
  padding: 2px 0;
  background: rgb(74, 193, 171);
  color: rgb(5, 69, 76);
}

.FrameSelector button {
  display: inline-flex;
  align-items: center;
  background: transparent;
  color: inherit;
  border: 0;
  margin: 0;
  padding: 2px 8px;
  font-size: 12px;
  line-height: 1;
}

.FrameSelector button:disabled {
  opacity: 0.4;
}

.FrameInfo {
  font-size: 12px;
  font-weight: 500;
}

.AnimationSpeed {
  display: flex;
  align-items: center;
  font-size: 11px;
  margin: 0 38px 0 16px;
  gap: 6px;
  color: rgb(122, 183, 165);
}

.AnimationSpeed input[type="checkbox"] {
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
}

.GalleryField {
  margin-left: auto;
}

.GalleryLink {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  color: inherit;
  text-decoration: none;
}

.GalleryLink svg {
  color: rgb(74, 193, 171);
  margin: 2px 0 2px 0;
}

@media only screen and (max-width: 899px) {
  main {
    flex-direction: column;
  }

  .Field {
    padding: 0 10px;
  }

  .ModelTools {
    position: static;
    flex-direction: column;
  }

  .Viewport {
    flex-direction: column;
    align-items: center;
  }

  select {
    max-width: calc(100vw - 20px);
  }

  .Toolbar {
    flex-direction: column;
  }

  model-viewer {
    min-width: 100vw;
    min-height: 100vh;
  }

  .CanvasInteractions {
    align-items: center;
    padding-bottom: 50px;
  }

  .CanvasViewport {
    display: none;
  }

  .CanvasTools {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .SliderField {
    margin-top: 0;
  }

  .SliderField input[type="range"] {
    width: 152px;
  }

  .AppFooter {
    display: flex;
    align-self: center;
    margin-top: 20px;
  }

  .GalleryField {
    margin-left: auto;
    margin-right: auto;
  }
}
