.GalleryPage {
  flex-direction: column;
}

.Tools {
  position: sticky;
  top: 0;
  flex: 0 0 auto;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.Tools select:focus {
  outline: none;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5), 0 0 2px 3px rgb(152, 255, 212);
}

.Gallery {
  flex: 0 0 auto;
  display: grid;
  width: 100%;
  background: rgb(12, 31, 40);
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.Skin {
  position: relative;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  padding-bottom: 32px;
}

.Preview {
  display: block;
  width: 100%;
  height: auto;
}

.Label {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 3px 10px;
  border-radius: 9999px;
  opacity: 0.5;
}

.Skin:hover .Label {
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Spinner {
  flex: 0 0 auto;
  margin: auto;
  font-size: 64px;
  animation: spin 2s linear infinite;
}
